*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #007bff;
    --hoverColor: #0056b3;
    --backgroundColor: #f1f8fc;
    --lightOne: #919191;
    --lightTwo: #aaa;
    --darkOne: #312f3a;
    --darkTwo: #45424b;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #B8C7DB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-app {
    background-color: white;
    width: 75vw;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px 0px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
@media only screen and (max-width: 600px) {
    .quiz-app {
        width: 90vw;
    }
}

.quiz-app .quiz-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #AAA;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
}

.quiz-app .quiz-info .category span{
    color: var(--mainColor);
}

.quiz-app .quiz-area {
    margin: 10px 0px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quiz-app .quiz-area h2 {
    font-size: 2rem;
    word-wrap: break-word;
}
@media only screen and (max-width: 600px) {
    .quiz-app .quiz-area h2 {
        font-size: 20px;
    }
}

.quiz-app .answers-area {
    min-height: 280px;
}

.quiz-app .answers-area .answer input {
    display: none;
}
.quiz-app .answers-area .answer label {
    position: relative;
    color: #36454F;
    cursor: pointer;
    border: 2px solid #36454F;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    transition: 0.3s;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .quiz-app .answers-area .answer label {
        font-size: 16px;
    }
}

.quiz-app .answers-area .answer label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #36454F;
    border-radius: 50%;
    margin-right: 10px;
}

.quiz-app .answers-area .answer input:checked + label {
    background-color: #36454F;
    color: white;
}

.quiz-app .answers-area .answer input:checked + label::before {
    height: 10px;
    width: 10px;
    border: 3px solid white;
    background-color: #36454F;
    z-index: 100;
}

.quiz-app .buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px;
}
.quiz-app .buttons .next-button,
.quiz-app .buttons .back-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 22px;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .quiz-app .buttons .next-button,
    .quiz-app .buttons .back-button{
        padding: 10px;
        font-size: 16px;
    }
}

.quiz-app .buttons .next-button {
    color: white;
    background-color: var(--mainColor);
    transition: 0.3s;
}
.quiz-app .buttons .next-button:hover {
    background-color: var(--hoverColor);
}
.quiz-app .buttons .back-button {
    color: #36454F;
}

.quiz-app .bullets {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .quiz-app .bullets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.quiz-app .bullets .spans {
    display: flex;
    gap: 1vw;
}
.quiz-app .bullets .spans span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #36454F;
}
.quiz-app .bullets .spans span.active {
    background-color: var(--mainColor);
    color: white;
}

.quiz-app .bullets .countdown {
    color: #36454F;
}

.circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#007bff 3.6deg, #ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.circular-progress::before {
    content: '';
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: white;
}

.progress-value {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: var(--mainColor);
}

.box {
    padding: 10px 0px;
    /* color: #36454F; */
}

.box:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
}
.box h4 {
    font-size: 1.1rem;
    color: var(--darkOne);
}
@media only screen and (max-width: 600px) {
    .box h4.question-rev{
        font-size: 0.9rem;
    }
}
.box .answers-rev {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--darkTwo);
    margin: 10px 0 0 0;

}

.box .answers-rev .right-answer {
    color: rgb(86, 192, 86);
}

.box .answers-rev .wrong-answer {
    color: rgb(231, 121, 140);
}